/* Style sheet created by: Mohammed Fahim Vellachalil */

/* Style for body specifies a background color */

body {
    background-color:lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the container element */
#container {
    width: 100%;

}

h1 {
    color: #ffffff;
    background-color: green;
    padding: 1.5%;
    text-align: left;

}

/* Styles for the main element */
main {
    padding: 1.5%;
    background-color: #ffffff;
    box-shadow: #000000 3px 3px;

}


/* Style for the footer element */
footer {
        text-align: center;
        font-style: italic;
        color: #343742;
        margin-top: 4%;

    }


